table.light {
  color: #4a4a4a;
}

table.dark {
  color: #ffffff;
}

h3.monthly {
  color: #4a4a4a;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: bold;
}

h3.monthly-light {
  color: #4a4a4a;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: bold;
}

h3.monthly-dark {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: bold;
}

th.monthly.text-center {
  font-size: large;
  /* text-transform: lowercase; */
}

.monthly-gregorian {
  font-size: x-large;
  font-weight: bold;
}

.monthly-gregorian.underline {
  text-decoration: underline solid #9a9d14;
}

.monthly-hijri {
  font-size: small;
  color: #9a9d14;
}

.monthly-hijri.pair-light {
  /* text-decoration: underline solid #9a9d14; */
  color: #4a4a4a;
  /* text-transform: capitalize; */
}
.monthly-hijri.pair-dark {
  /* text-decoration: underline solid #9a9d14; */
  color: #ffffff;
  /* text-transform: capitalize; */
}

.monthly.text-center {
  vertical-align: middle;
  font-size: large;
}

.monthly.day {
  font-size: normal;
}

th {
  /* background: white;
  position: sticky;
  top: 0; */
}

.svg-inline--fa.fa-chevron-left.fa-w-10.fa-1x,
.svg-inline--fa.fa-chevron-right.fa-w-10.fa-1x {
  cursor: pointer;
  margin-top: 25px;
}

.svg-inline--fa.fa-chevron-left.fa-w-10.fa-1x.light,
.svg-inline--fa.fa-chevron-right.fa-w-10.fa-1x.light {
  color: #4a4a4a;
}

.svg-inline--fa.fa-chevron-left.fa-w-10.fa-1x.dark,
.svg-inline--fa.fa-chevron-right.fa-w-10.fa-1x.dark {
  color: #ffffff;
}
